{
  "swagger": "2.0",
  "info": {
    "title": "URL Shortener",
    "description": "This is a url shortener api. You can find out more about URL Shortener at [github/url-shortener](https://github.com/jroliveira/url-shortener).",
    "contact": {
      "email": "junolive@gmail.com"
    }
  },
  "host": "url-shortener.apphb.com",
  "basePath": "/",
  "tags": [
    {
      "name": "account",
      "description": "Everything about your Accounts"
    },
    {
      "name": "url",
      "description": "Everything about your Urls"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/accounts": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Add a new account to the store",
        "operationId": "addAccount",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Account object that needs to be added to the store",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "confirmPassword": {
                  "type": "string"
                }
              },
              "xml": {
                "name": "AccountPost"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created an account"
          },
          "422": {
            "description": "Invalid input"
          }
        }
      },
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Finds Accounts",
        "description": "Returns all accounts",
        "operationId": "getAccounts",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                },
                "xml": {
                  "name": "AccountGet"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Find account by ID",
        "description": "Returns a single account",
        "operationId": "getAccountById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of account to return",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                }
              },
              "xml": {
                "name": "AccountGet"
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      },
      "put": {
        "tags": [
          "account"
        ],
        "summary": "Update an existing account",
        "operationId": "updateAccount",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of account to update",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Account object that needs to be added to the store",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              },
              "xml": {
                "name": "AccountPut"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Updated an account"
          },
          "404": {
            "description": "Account not found"
          },
          "422": {
            "description": "Invalid input"
          }
        }
      },
      "delete": {
        "tags": [
          "account"
        ],
        "summary": "Deletes an account",
        "operationId": "deleteAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of account to delete",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted an account"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/urls": {
      "post": {
        "tags": [
          "url"
        ],
        "summary": "Add a new url to the store",
        "operationId": "addUrl",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Url object that needs to be added to the store",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                },
                "account": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              },
              "xml": {
                "name": "UrlPost"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created an url"
          },
          "422": {
            "description": "Invalid input"
          }
        }
      },
      "get": {
        "tags": [
          "url"
        ],
        "summary": "Finds Urls",
        "description": "Returns all urls",
        "operationId": "getUrls",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "address": {
                    "type": "string"
                  },
                  "account": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32"
                      }
                    }
                  }
                },
                "xml": {
                  "name": "UrlGet"
                }
              }
            }
          }
        }
      }
    },
    "/urls/{id}": {
      "get": {
        "tags": [
          "url"
        ],
        "summary": "Find url by ID",
        "description": "Returns a single url",
        "operationId": "getUrlById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of url to return",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32"
                },
                "address": {
                  "type": "string"
                },
                "account": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              },
              "xml": {
                "name": "UrlGet"
              }
            }
          },
          "404": {
            "description": "Url not found"
          }
        }
      },
      "delete": {
        "tags": [
          "url"
        ],
        "summary": "Deletes an url",
        "operationId": "deleteUrl",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of url to delete",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted an url"
          },
          "404": {
            "description": "Url not found"
          }
        }
      }
    }
  }
}