<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net45" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Nancy" version="1.4.3" targetFramework="net45" />
  <package id="Nancy.Authentication.Token" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Hal" version="1.2.1" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Serialization.JsonNet" version="1.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="Restful.Query.Filter" version="2.1.0" targetFramework="net45" />
  <package id="Simple.Data.Ado" version="2.0.0-alpha1" targetFramework="net45" />
  <package id="Simple.Data.Core" version="2.0.0-alpha1" targetFramework="net45" />
  <package id="Simple.Data.SqlServer" version="2.0.0-alpha1" targetFramework="net45" />
</packages>